
.controlPanel {
	width: 160px;
	height: 300px;
	display: inline-block;
	align: top;
}
.programListing {
	width: 200px;
	height: 500px;
	background: black;
	color: lime;
	display: inline-block;
	position: absolute;
	font-weight: bold;
	top: 15;
	left: 175;
	overflow-y: scroll;
}

.cellRoom {
	display: inline-block;
	position: absolute;
	top: 10;
	left: 375;
}

.controlPanel .moveUp {
	position: absolute;
	top: 10;
	left: 5;
}
.controlPanel .moveDown {
	position: absolute;
	top: 40;
	left: 5;
}

.controlPanel .moveLeft {
	position: absolute;
	top: 70;
	left: 5;
}

.controlPanel .moveRight {
	position: absolute;
	top: 100;
	left: 5;
}

.controlPanel .loopProgram {
	position: absolute;
	top: 130;
	left: 5;
}

.controlPanel .startRecord {
	position: absolute;
	top: 180;
	left: 5;
}

.controlPanel .stopRecord {
	position: absolute;
	top: 210;
	left: 5;
}
.controlPanel .runProgram {
	position: absolute;
	top: 240;
	left: 5;
}
.controlPanel .stopProgram {
	position: absolute;
	top: 270;
	left: 5;
}
.controlPanel .clearProgram {
    position: absolute;
	top: 310;
	left: 5;
}
.foodTotal {
	position: absolute;
	top: 350;
	left: 5;
}
.currentInstruction {
	background: #eee;
	forgound: black;
}
